.calculadora {
	border:3px black solid;
	width:250px;
	text-align: center;;
	background-color: #FFB6C1;
}
/*pantalla*/
#textoPantalla {
    width: 185px;
    border: 2px black solid;
    text-align: right;
    position: relative;
    left: 23px;
    padding: 0px 5px;        
    background-color: white;
    font-family: "courier new";
    overflow: hidden;
}
/*botones normales */
.calculadora [type="button"] {
	width: 35px;
	padding: 0;
}
/*botones especiales*/
.calculadora input.largo {
	color: red;
	width: 60px;
}